<div *ngFor="let item of data" class="post-container">
  <div class="background-image">
    <p class="description">{{ item.gonderi_kisi }}: {{ item.aciklama }}</p>
    <img [src]="item.resim" width="500px" height="300px" style="margin-top: 10px;" alt="background resmi" />
    <img [src]="item.ppfoto" alt="profil fotoğrafı" class="profile-photo" />

  </div>
  
  <div class="content">
    <div class="info-row">
      <p>{{ item.gonderi_tarih }}</p>
      <div class="like-button">
        <app-btn class="begeni_buton" (click)="likePost(item)" label="Beğen"></app-btn>
      </div>
      <p>Beğeni: {{ item.begeni }}</p>
    </div>


    
    <div class="comments">
      <div *ngFor="let yorum of item.yorumlar" class="comment">
        <div class="comment-header">
          <img [src]="yorum.ppfoto" alt="profil fotoğrafı" class="profile-photo" />
          <div class="comment-text">
            <strong>{{ yorum.kisi }} ({{ yorum.yorum_tarih }})</strong>
           
            <p class="yorumlar_bosluk">{{ yorum.yorum }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Yorum ekleme alanı -->
    <div class="add-comment">
      <input type="text" [(ngModel)]="newComment" placeholder="Yorum ekle..." />
      <app-btn class="yorum_buton" (click)="addComment(item)" label="Gönder"></app-btn>
    </div>

    <!-- Beğen butonu -->
    
  </div>
</div>

<app-btn class="logout_btn" (click)="onLogout()" label="Logout"></app-btn>
