<div class="login-container">
  <div class="giris_form">
    <h2>Giriş Yap</h2>
    <form (ngSubmit)="login()">
      <app-input class="input_ad" label="Kullanıcı Adı:" [value]="username" (valueChange)="onUsernameChange($event)"></app-input>
      <app-input type="password" class="input_parola" label="Parola:" [value]="password" (valueChange)="onPasswordChange($event)"></app-input>
      <app-btn class="login_btn" (buton)="btnlogin()" label="Giriş Yap"></app-btn>
      <app-btn class="register_btn" (buton)="navigateToRegister()" label="Kayıt Ol"></app-btn>
      <p class="forgot-password-link">
        <a (click)="navigateToForgotPassword()">Şifrenizi unuttunuz mu?</a>
      </p>
    </form>
  </div>
</div>
