<div class="forgot-password-container">
    <div class="forgot-password-form">
      <h2>Şifreyi Yenile</h2>
      <form (ngSubmit)="resetPassword()">
        <app-input class="username-input" label="Kullanıcı Adı:" [value]="username" (valueChange)="username = $event"></app-input>
        <app-input type="password" class="password-input" label="Yeni Şifre:" [value]="newPassword" (valueChange)="newPassword = $event"></app-input>
        <app-btn (buton)="resetPassword()" label="Şifreyi Güncelle"></app-btn>
      </form>
    </div>
  </div>
  